#header {
  background-color: #7AAFE2;
  padding: 1%;
}

#body {
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #5091C9;
}

.row {
  background-color: #5091C9;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.projectitem {
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 250px;
}

.titlecard {
  height: 100px;
}

.ital {
  font-style: italic;
}

a.darklink:link {
  color: #222222;
}

a.darklink:visited {
  color: #222222;
}

a.darklink:hover {
  color: #222222;
}

html, body {
  height: 100%;
  background-color: #7AAFE2;
  display: flex;
  flex-direction: column;
}