html, body {
  height: 100%;
  background-color: #3163a5;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #3163a5;
  padding: 1%;
}

#body {
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #81a7db;
  background-color: #81a7db;
}

#sidebar {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#mainbody {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#projects {
  margin-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  color: #222222;
  font-weight: bold;
}

#resume {
  margin-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  color: #222222;
  font-weight: bold;
}

a:focus {
  outline-style: none;
  -moz-outline-style: none;
}

.clickicon {
  height: 50px;
  width: auto;
}

.btn {
  border-width: 3px;
  border-color: #555555;
  box-shadow: none !important;
}