#header {
  background-color: #7AAFE2;
  padding: 1%;
}

#body {
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #5091C9;
}

#sidebar {
  background-color: #5091C9;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#mainbody {
  background-color: #5091C9;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#projects {
  margin-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  color: #222222;
  font-weight: bold;
}

#resume {
  margin-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
  color: #222222;
  font-weight: bold;
}

html, body {
  height: 100%;
  background-color: #7AAFE2;
  display: flex;
  flex-direction: column;
}

a:focus {
  outline-style: none;
  -moz-outline-style: none;
}

.clickicon {
  height: 50px;
  width: auto;
}

.btn {
  border-width: 3px;
  border-color: #555555;
}